<a href="https://colab.research.google.com/github/asvarshini/Python/blob/main/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("python")

python

In [2]:
#variable
name ="varsh"
age =28
print (name,age)

varsh 28

In [8]:
#data types
#int ,float,String,bollean
i =33
f=2.3
b=True

print(type(i))
print(type(f))
print(type(b))

<class 'int'>
<class 'float'>
<class 'bool'>

In [10]:
#String methods
Fruite="apple NAME"
#1 upper,lower,title
print(Fruite.upper())
print(Fruite.lower())
print(Fruite.title())
print(Fruite.upper())
print(Fruite.capitalize())

APPLE NAME
apple name
Apple Name
APPLE NAME
Apple name

In [13]:
#type casting
i =100
y=12.5
print(float(i))
print(int(y))

100.0
12

In [ ]:
#operators
#1, Arithmetic +,-,/,//,%,**(power)
#Assigment : =,+=,-=,/=(just palce = after Arithamtic operator)
#comparision <,>,<=,>=,==.!=
#logical op:and ,or,not
#Sequential data types :it stores element in specfic order that can acess through indexing (String,list,tuple)
#unsequential:do not maintain a fixed order and the elements cannot access through indexing(set)

In [ ]:
#sequential
#list(orederd,mutalbe(can change),allow duplicate,delcare inside sqauare bracket[[]])
#tuple(orederd,immutable,allow duplicate())
#unsequential
#set(unorederd,no duiplicate(unique),mutable ,{})
#dictnory collection of key values(unorders,mutable,no duplicates,{})

In [8]:
#list
list =["python",'java','c-program',1.40,True,1.40]
i =[1,3,4]
len(i)
list[2] ="c++"
print(list)
list.append("panda")#remove,replace
print(list)
print(list[2])

['python', 'java', 'c++', 1.4, True, 1.4]
['python', 'java', 'c++', 1.4, True, 1.4, 'panda']
c++

In [9]:
list =("python",'java','c-program')
print(list[1])
len(list)

java

3

In [7]:
#set(true =1,false =0)
veg ={'apple','banana','cherry'}
veg.add("uuu")#remove
print(veg)

{'banana', 'cherry', 'apple', 'uuu'}

In [25]:
#dictnory
future ={
    'name':'varshini AS',
    'age':25,
    "netwoeth ": "1billion",

}
print(future)
print(future['name'])
print(future['age'])

{'name': 'varshini AS', 'age': 25, 'netwoeth ': '1billion'}
varshini AS
25

In [24]:
#indexing (acessing inudvial element in list index tuple  throudh index number)
i ="varshini"
print(i[0])
print(i[-1])
#slicing  (variable[start,end,step]  (start+1,end-1))
print(i[1:4])#(start+1,end-1)
print(i[:4])
print(i[1:])
print(i[::2])

v
i
ars
vars
arshini
varshini

In [ ]:
#conditional Statments(if,elif,else)

In [6]:
#function Syntax=( def variable_name())
def name():
  print(2+2)
name()
#parameter
def add(a,b):
  print(a+b)
add(3,3)
#return_type
def add(a,b):
  return a+b
print(add(3,3))

4
6
6

In [10]:
#basic calculator
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def pow(a,b):
  return a**b
def mod(a,b):
  if(b==0):
    return
  else:
    return a%b
def divi(a,b):
  return a/b
print("enetr the two  num")
a=int(input("enet rthe first number"))
b=int(input("enetr the second number"))
print("enter operator +,-,*,**,//,%")
op =str(input("enter"))
if (op=="+"):
  print(add(a,b))
elif (op=="-"):
  print(sub(a,b))
elif (op=="*"):
  print(mul(a,b))
elif (op=="**"):
  print(pow(a,b))
elif (op=="%"):
  print(mod(a,b))
else:
  print(divi(a,b))

enetr the two  num
enet rthe first number5
enetr the second number5
enter operator +,-,*,**,//,%
enter+
10

In [16]:
#maixum num
def max(a,b,c):
  if(a>b and a>b):
    print("max=", a)
  elif(b>a and b>c):
    print("max = ",b)
  else:
    print("max =",c)
a =int(input("enter the a"))
b =int(input("enter the b"))
c =int(input("enter the c"))
max(a,b,c)

enter the a  5
enter the b    9
enter the c    8
max =  9

def prim(n):
    if n <= 1:
        print("Not prime number")
        return
    
    for i in range(2, n):
        if n % i == 0:
            print("Not prime number")
            return
    
    print("Prime number")

prim(5)

In [22]:
#revrse the string
def rever(v):
    print(v[::-1])

v = input("enter one string: ")
rever(v)

enter one string: gio
oig

In [30]:
def fact(n):
  if(n ==0):
    return 1
  else:
    return(n*fact(n-1))
print(fact(5))

120

In [38]:
def fib(n):
  if(n ==0):
    return 0
  elif (n ==1):
    return 1
  else:
    return(fib(n-1)+fib(n-2))
print(fib(6))

8

In [ ]:
import module as a

print(a.add(3, 3))

In [49]:
dic ={
    'name':["varshini",'amrutha','prathima'],
    'age':[21,22]
}
print(dic)

{'name': ['varshini', 'amrutha', 'prathima'], 'age': [21, 22]}

In [51]:
#write the code for set and write union and intersection
d1 ={1,2,3}
d2 ={'a','b',1,2}
print(d1.union(d2))
print(d1  & d2)

{1, 2, 3, 'a', 'b'}
{1, 2}

In [57]:
list =[]
for i in range(0,101m,2):
  list.append(i)
print(list[::-1])

[98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [2]:
li =[1,32,43,2,3,8]
li.sort()
print(li)

[1, 2, 3, 8, 32, 43]