<a href="https://colab.research.google.com/github/asvarshini/Python/blob/main/DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#swap two numbers (no inbulit)
a =int(input("enter the value of a"))
b =int(input("enetr the value of b"))
print("a=",a,"b=",b)
temp =a
a=b
b=temp
print("a=",a,"b=",b)

enter the value of a  5
enetr the value of b   10
a= 5 b= 10
a= 10 b= 5

In [ ]:
#find the largest element in list without using inbulit
list = [10,4,28,99]
lar =0

for i in range(len(list)):
  if(list[i]>list[lar]):
    lar=i


print(lar)

3

In [ ]:
#create list inside dict and transverse using for loop
dict ={
    'name':['aaa','bbb','ccc','ddd'],
    'age':[12,15,17,77]
}
for i,j in dict.items():
  print(i,j)

name ['aaa', 'bbb', 'ccc', 'ddd']
age [12, 15, 17, 77]

In [2]:
#remove particular element in list
 = [10,4,28,99]
del list[2]
print(list)

[10, 4, 99]

In [9]:
def rem(arr,ele):
  ne  =[]
  for i in range(len(arr)):
    if(arr[i]==ele):
      continue
    else:
      ne.append(arr[i])
  return ne
arr =[19,3,4,6]m
print(rem(arr,3))

[19, 4, 6]

In [15]:
#mutilpication table using
def mul(n):
  for i in range(1,11):

    print(n ,'*',i,'=',n*i)
n =int(input("enter the number you want to multiplyy"));
mul(n)

enter the number you want to multiplyy8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80